/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    
    min-height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* Generic project styles */ 
    color: #cccccc;
    font-family: 'Bitter', sans-serif;
    
    
}


/* Header */

nav{
    background-color:#ffffff;
    box-shadow: 3px 3px 5px black;
    width: 100%;
    z-index: 99;
    
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30 px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #894074;
    box-shadow: -10px 0 10px #454040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
h1 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #894074
}
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}



/* Main content */
 main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
 }
/* manuscript */
#manuscript {
    height: 600px;
    width: 100%;
    background-image: url(../images/manuscript.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Footer */
footer {
    background-color: #894074;
}