/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bitter:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    /* Make header element take up any surplus space to push main body and footer down */
    min-height: 5vh;
    flex: 0 0 auto;
    padding: 0 1rem;
    z-index: 99;
    position: center;

}

h1 {
    color: #894074;
    background-color: white;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: xx-large;
    margin-bottom: 1em;

}

/* Navbar with a sidebar feature */
nav {
    background-color: white;
    box-shadow: rgb(77, 69, 69)
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: flex;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #894074;
    padding-right: 1rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Bitter', sans-serif;
    background-color: white;
    font-size: large;
}

nav li {
    height: 50px;

}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: none;
    align-items: center;
    color: #894074;
}

nav a:hover {
    background-color: whitesmoke;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #d6ccd46e;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgb(84, 71, 71);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    display: flex;
}

/* Main content */
main {

    flex: 1 0 auto;
    margin-top: 50px;
}

/* music section */
#music {
    height: 600px;
    width: 100%;
    background-image: url(../images/music.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* purpose section */
#purpose {
    width: 90%;
    margin: 20px auto;
}

/* aboutme section */
#aboutme {
    height: 800px;
    width: 100%;
    background-image: url(../images/me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #8846796e;
    backdrop-filter: blur(12px);
    font-size: 80%;
    position: fixed;
    bottom: 30px;
    width: 60%;
    min-height: 200px;
    padding-top: 10px;
    padding-left: 5px;
    color: antiquewhite;

}

/* Footer */
footer {
    background-color: #894074;
    min-height: 5vh;
    flex: 0 0 auto;
}

/* Media query: tablets and larger , 768px and up) */
@media screen and (min-width: 768px) {
    nav a {
        display: flex;
        position: relative;
        width: fit-content;
        padding-right: 2rem;
        letter-spacing: 0px;
        font-size: smaller;
        margin: 0 -1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .sidebar {
        display: none;
    }

    #cover-text {
        width: 300px;
        left: 100px;
        font-family: 'Bitter';
        font-size: 100%;
        position: fixed;
        bottom: 400px;
        width: 30%;
        left:0%;
        min-height: 300px;
        padding-top: 40px;
        padding-left: 10px;

    }
}

/* Large devices (laptops and desltops, 992px and up) */
@media screen and (min-width: 992px) {
    nav a {
        font-size: large;

    }
    #cover-text {
        width: 300px;
        left: 100px;
        font-family: 'Bitter';
        font-size: 100%;
        position: fixed;
        bottom: 200px;
        width: 30%;
        left:0%;
        min-height: 300px;
        padding-top: 80px;
        padding-left: 10px;

    }
}

/* Header */